main {
	flex-grow: 1;
	text-align: center;
	padding: 25px;
}

footer {
  padding: 2px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #EEEEEE;
  font-size: small;
  text-align: center;
}

header {
  padding: 25px;
}